[submodule "OpenPilot"]
	path = OpenPilot
	url = git://git.openpilot.org/OpenPilot.git
[submodule "largefiles"]
	path = largefiles
	url = https://github.com/ICRS/IARC-largefiles.git
[submodule "pcl-android"]
	path = pcl-android
	url = git://github.com/patmarion/pcl-superbuild.git
